{% extends 'base.html' %}
{% block content %}
<h2>Your settings</h2>
<h4>Change Defaults</h4>
<div class="row">
	<div class="col-sm-4">
		<form action="{{ url_for('settings.user_settings') }}" method="POST">
			{{ prefs_form.csrf_token }}
			<div class="form-group">
				{{ prefs_form.language.label }}
				{{ prefs_form.language(class="form-control") }}
			</div>
			<input value="Save Preferences" type="submit" class="btn btn-success">
		</form>
		<a href="{{ url_for('settings.change_password') }}">Click here</a> to change you password.
	</div>
</div>
{% endblock %}
