
.container {
	max-width: 1000px;
}
.navbar-form .welcome {
	color: white;
	margin-right: 10px;
}
.main {
	background: url("http://subtlepatterns.com/patterns/concrete_seamless.png") !important;
}

.snippet-options {
	margin-top: 24px;
	text-align: right;
}

