{% extends 'base.html' %}
{% block content %}
{% if snippet %}
<h3>Edit snippet {{ snippet.get_uuid() }}: <em>{{ snippet.title }}</em></h3>
<form method="POST" action="{{ url_for('edit_snippet', snippet_uuid=snippet.get_uuid()) }}">
{% else %}
<form method="POST" action="/">
{% endif %}
	{{ form.csrf_token }}
	<div class="row">
		<div class="col-sm-3">
		{{ form.language(class="form-control") }}
		</div>
		<div class="form-group col-sm-9">
		{{ form.title(placeholder="Enter title here...",
					  class="form-control") }}
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-12">
		{{ form.snippet(id="snippet_editable",
						class="snippet-textarea",
						rows=20 ) }}
		</div>
	</div>
	<div class="checkbox">
		{% if current_user.is_authenticated() %}
		<label>
		{{ form.private }} Set Private?
		</label>
		{% else %}
		<label>
		{{ form.private(disabled="true") }} Set Private?
		</label> (<a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('signup') }}">Signup</a>)
		{% endif %}
	</div>
	{% if snippet %}
	<div class="row">
		<div class="col-sm-8">
			<input type="submit" value="Save Snippet"
					class="btn btn-success btn-block" />
		</div>
		<div class="col-sm-4">
			<a href="/" class="btn btn-danger btn-block" />
				Cancel
			</a>
		</div>
	</div>
	{% else %}
	<input type="submit" value="Submit"
		   class="form-control btn btn-success btn-block" />
	{% endif %}
	</div>
</form>
<script>
window.onload = function () {
  
    var editableCodeMirror = CodeMirror.fromTextArea(document.getElementById('snippet_editable'), {
        mode: "javascript",
        theme: "default",
        lineNumbers: true
    });
    editableCodeMirror.setSize('100%', 400); 
};
</script>
{% endblock %}
