{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
{% endblock %}
{% block content %}

	<div class="row">
		<div class="col-sm-12">
			<h3>
				{% if snippet.is_private() %}
				<i class="fa fa-lock"></i> 
				{% else %}
				<i class="fa fa-unlock"></i> 
				{% endif %}
				{{ snippet.title }}
			</h3>
		</div>
		<div class="snippet-info col-sm-6">
			<small>Created by: 
				{% if snippet.user %}
					<a href="{{url_for('user.snippets', username=snippet.user) }}">{{ snippet.user }}</a> 
					{% else %}Anonymous{% endif %} | Views: {{ snippet.hits }} | Created on: {{ snippet.date_added.strftime('%b %d, %Y') }} | Syntax: {{ snippet.language.display_text }} | Forked: {{ snippet.forks.count() }}</small>
		</div>
		<div class="snippet-options col-md-6 pull-right">
			{% if current_user.is_authenticated() %}<a href="fork">Fork It!</a> |{% endif %} <a href="r">Raw Text</a> | <a href="d">Download</a> |  <a href="/report/{{ snippet.id }}">Report</a> 
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-12">
			<textarea disabled class="snippet-textarea" id="snippet_readonly" rows=20>{{ snippet.body }}</textarea>
		</div>
		<div class="col-sm-8">
			<a href="/" class="new-snippet-btn btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Snippet</a>
			{% if current_user == snippet.user %}
			<a href="{{ url_for('snippets.edit_snippet', snippet_uuid=snippet.get_uuid()) }}" class="btn btn-primary">
				<span class="fa fa-pencil"></span> Edit
			</a>
			<a href="{{ url_for('snippets.delete_snippet', snippet_uuid=snippet.get_uuid()) }}" class="btn btn-danger">
				<span class="fa fa-trash"></span> Delete
			</a>
			{% endif %}
		</div>
		<div class="col-sm-4 options-container">
			<div class="input-group">
				<span class="input-group-addon">Share:</span>
				<input disabled id="copy-me" class="form-control" type="text" value="http://snip.space/{{ snippet.get_uuid() }}" />
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" data-clipboard-target="copy-me" id="copy-button">Copy</button>
				</span>
			</div>
		</div>
	</div>
	{% block scripts %}
	{{ super() }}
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="{{ url_for('static', filename='js/ZeroClipboard.min.js') }}"></script>
	{% if snippet.language.id == 'htmlmixed' %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
	{% endif %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/{{ snippet.language.id }}/{{ snippet.language.id }}.min.js"></script>
	{% endblock %}
	<script>
	window.onload = function () {
		ZeroClipboard.config( { swfPath: '{{ url_for('static', filename="js/ZeroClipboard.swf") }}'} );
		var client = new ZeroClipboard(document.getElementById('copy-button'));

		client.on( "ready", function( readyEvent ){
			client.on( "aftercopy", function( event ){
				toastr.success('Copied to Clipboard!');
			});
		});

	    var editableCodeMirror = CodeMirror.fromTextArea(document.getElementById('snippet_readonly'), {
			mode: "{{ snippet.language.id }}",
	        theme: "default",
	        lineNumbers: true,
	        readOnly: true
	    });
	    editableCodeMirror.setSize('100%', 400); 
	};
	</script>
{% endblock %}
