{% extends 'base.html' %}
{% block content %}
<h3>Snippets by <em>{{ user.username }}</em></h3>
{% if snippets.items %}
<table class="table table-striped">
	<thead>
		<th class="col-sm-4">{{ items.sort('title', 'Title') }}</th>
		<th>{{ items.sort('date', 'Date Added') }}</th>
		<th class="col-sm-2">{{ items.sort('syntax', 'Syntax') }}</th>
		<th class="col-sm-2">{{ items.sort('views', 'Views') }}</th>
		{% if current_user == user %}
		<th class="col-sm-1">Actions</th>
		{% endif %}
	</thead>
	<tbody>
		{% for snippet in snippets.items %}
		<tr>
			<td>
				{% if snippet.is_private() %}
				<i class="fa fa-lock"></i> 
				{% else %}
				<i class="fa fa-unlock"></i> 
				{% endif %}&nbsp;
				<a href="{{ url_for('snippets.show_snippet', snippet_uuid=snippet.get_uuid()) }}">{{ snippet.title }}</a>
			</td>
			<td>{{ snippet.date_added.strftime('%b %d, %Y') }}</td>
			<td>{{ snippet.language }}</td>
			<td>{{ snippet.hits }}</td>
			{% if current_user == user %}
			<td class="text-center">
				<a href="{{ url_for('snippets.edit_snippet', snippet_uuid=snippet.get_uuid()) }}"><i class="fa fa-pencil"></i></a> | 
				<a href="{{ url_for('snippets.delete_snippet', snippet_uuid=snippet.get_uuid()) }}"><i class="fa fa-trash"></i></a>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>

<!-- Use pagination macro -->
{{ items.paginate(snippets) }}

{% else %}
	{% if current_user == user %}
	You currently have no snippets. <a href="/">Add some!</a>
	{% else %}
	This user currently has no public snippets.
	{% endif %}
{% endif %}
{% endblock %}