{% extends 'base.html' %}
{% block content %}
<div class="row">
	<h2 class="text-center">Request Password Reset</h2>
	<form action="{{ url_for('user.request_reset') }}" method='POST'>
		{{ form.csrf_token }}
		<div class="row">
			<div class="col-xs-offset-4 col-xs-4">
				<div class="well well-sm text-center">
					Enter the email associated with the account you need to reset the password for.
				</div>
				<div class="form-group">
					{% for error in form.email.errors %}
					<div class="text-center alert-warning">
						{{ error }}
					</div>
					{% endfor %}
				{{ form.email(class="form-control", placeholder="enter email address...") }}
				</div>
				<input class="btn btn-primary btn-block" value='Submit Request' type=submit>
			</div>
		</div>
	</form>
</div>
{% endblock %}
