{% extends 'base.html' %}
{% block content %}
<form method="POST" action="/signup/">
	{{ form.csrf_token }}

	<div class="row">
		<div class="well col-sm-offset-1 col-md-4 benefits">
			<h3 class='text-center'>Member Benefits</h3>
			<strong>Edit Your Snippets.</strong>
			<p>Save your snippets and go back and finish them later.</p>
			<strong>Private Snippets</strong>
			<p>Save your snippets as private, so only you can view them.</p>
			<strong>Settings and Defaults</strong>
			<p>Stay in control of your settings and presets.</p>
		</div>
		<div class="col-md-4 col-sm-offset-1">

			<div class="form-group">
			{{ form.username.label }}:
			{% for error in form.username.errors %}
				<span class="alert-warning">
				{{ error }}
				</span>
			{% endfor %}
			<br>
			{{ form.username(class="form-control", placeholder="enter username") }}
			</div>

			<div class="form-group">
			{{ form.email.label }}:
			{% for error in form.email.errors %}
				<span class="alert-warning">
				{{ error }}
				</span>
			{% endfor %}
			<br>
			{{ form.email(class="form-control", placeholder="email address") }}
			</div>

			{% for error in form.password.errors %}
				<div class="form-group col-lg-12">
				<span class="alert-warning">
				{{ error }}
				</span>
				</div>
			{% endfor %}
			<div class="row">
				<div class="form-group col-lg-6">
				{{ form.password.label }}:
				
				<br>
				{{ form.password(class="form-control", placeholder="enter password") }}
				</div>

				<div class="form-group col-lg-6">
				{{ form.confirm.label }}:<br>
				{{ form.confirm(class="form-control", placeholder="confirm password") }}
				</div>
			</div>
			<input type="submit" value="Submit" class="btn btn-success btn-block">
		</div>
	</div>
</form>
{% endblock %}
