{% extends 'base.html' %}
{% block content %}
<h3 class="text-center">About Snip.space</h3>
<div class="col-md-offset-3 col-md-6 text-center">
	<p><strong>Snip.space</strong> is an ad-free, free, and open source pastebin solution. We promise to keep it this way for as long as we are around.<p>
	<p><strong>Snip.space</strong> is available to anyone as an anonymous user, but grants additional functionality to users that have created and logged into their accounts.</p>
	<p><strong>Snip.space</strong> features include, 20+ languages of syntax highlighting, ability create/edit/delete snippets, downloading and retrieving raw snippet data.</p>
</div>
{% endblock %}
