{% macro timelink(timeframe, link_text) -%}
	{% if request.args.get('t', 'week') == timeframe %}
	<strong>{{ link_text }}</strong>
	{% else %}
	<a href="{{ url_for(request.endpoint, t=timeframe) }}">{{ link_text }}</a>
	{% endif %}
{%- endmacro %}


{% macro navlink(url_string, route_func, link_text) -%}
	{% if url_string in request.path %}
	<li class="active">
	{% else %}
	<li>
	{% endif %}
		<a href="{{ url_for(route_func, **kwargs) }}">{{ link_text }}</a>
	</li>
{%- endmacro %}

{% macro sort(field, name) -%}
	{% set direction = request.args.get('dir', 'asc') %}
	{% set curr = request.args.get('sort') %}

	{% if field == curr %}
		{% set css = 'class=' + direction + ' ' %}
	{% else %}
		{% set css = '' %}
	{% endif %}

	{% if direction == 'asc' and curr == field %}
		{% set direction = 'desc' %}
	{% else %}
		{% set direction = 'asc' %}
	{% endif %}

	<a {{ css }}href="{{ url_for('user_page',
						username=user.username,
						sort=field,
						dir=direction) }}">{{ name }}</a>
{%- endmacro %}

{% macro paginate(page_obj) -%}
{% set args = request.view_args %}
{% if args['page'] %}
	{% set _ = args.pop('page') %}
{% endif %}
<nav class="text-center">
	<ul class="pagination">
		{% if page_obj.has_prev %}
		<li>
			<a href="{{ url_for(request.endpoint, page=page_obj.prev_num, **args) }}"><span aria-hidden="true">&laquo;</span></a>
		</li>
		{% else %}
		<li class="disabled">
			<span aria-hidden="true">&laquo;</span>
		</li>
		{% endif %}
		{% for page in page_obj.iter_pages() %}
			{% if page %}
			<li>
				{% if page != snippets.page %}
					<a href="{{ url_for(request.endpoint, page=page, **args) }}">{{ page }}</a>
				{% else %}
			<li class="active">
				<a href="">{{ page }}</a>
				{% endif %}
			{% else %}
			<li class="disabled">
				<span class=ellipsis>...</span>
			{% endif %}
			</li>
		{% endfor %}
		{% if page_obj.has_next %}
		<li>
			<a href="{{ url_for(request.endpoint, page=page_obj.next_num, **args) }}"><span aria-hidden="true">&raquo;</span></a>
		</li>
		{% else %}
		<li class="disabled">
			<span aria-hidden="true">&raquo;</span>
		</li>
		{% endif %}
	</ul>
</nav>
{%- endmacro %}
