<html>
	<head>
	<title>Snipstr</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body class="main">
	<nav class="navbar navbar-inverse">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('index') }}">Snipstr.com</a>
		<div class="navbar-form navbar-right">
			<div class="form-group">
			{% if current_user.is_anonymous() %}
			<a class="btn btn-default" href="{{ url_for('login') }}">Log In</a>
			{% else %}
			<span class="welcome">Welcome, {{ current_user.username }}</span>
			<a class="btn btn-default" href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
			</div>
		</div>

		</div>
	</nav>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	</body>
</html>
