{% extends 'base.html' %}
{% block content %}
<div class="row">
		{% for category, msg in get_flashed_messages(with_categories=true) %}
		<div class="col-sm-offset-3 col-sm-6 text-center alert alert-{{ category }}">
			<i class="fa fa-exclamation-triangle"> </i>&nbsp;{{ msg }}
		</div>
		{% endfor %}
	<div class="col-md-offset-4 col-md-4">
		<form method="post" action="/login/">
			{{ form.csrf_token }}
			<div class="form-group">
			{{ form.username.label }}:
			{% for error in form.username.errors %}
				<span class="alert-warning">
				{{ error }}
				</span>
			{% endfor %}
			<br>
			{{ form.username(class="form-control", placeholder="enter username") }}
			</div>
			<div class="form-group">
			{{ form.password.label }}:
			{% for error in form.password.errors %}
				<span class="alert-warning">
				{{ error }}
				</span>
			{% endfor %}
			<br>
			{{ form.password(class="form-control", placeholder="enter password") }}
			</div>
			<div class="form-group">
				<input type="submit" value="Log In" class="btn btn-default btn-block" />
			</div>
			<div class="text-center">
				Forgot your password? <a href="{{ url_for('request_reset') }}">Click Here.</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
