{% extends 'base.html' %}
{% block content %}
<div class="row">
		{% for msg in get_flashed_messages() %}
		<div class="col-sm-offset-3 col-sm-6 text-center alert alert-danger">
			<i class="fa fa-exclamation-triangle"> </i>&nbsp;{{ msg }}
		</div>
		{% endfor %}
	<div class="col-md-offset-4 col-md-4">
		<form method="post" action="/login/">
			{{ form.csrf_token }}
			<div class="form-group">
			{{ form.username.label }}:<br>
			{{ form.username(class="form-control", placeholder="enter username") }}
			</div>
			<div class="form-group">
			{{ form.password.label }}:<br>
			{{ form.password(class="form-control", placeholder="enter password") }}
			</div>
			<div class="form-group">
				<input type="submit" value="Log In" class="btn btn-default btn-block" />
			</div>
		</form>
	</div>
</div>
{% endblock %}
