{% extends 'base.html' %}
{% block content %}
<table class="table table-striped">
	<thead>
		<th class="col-sm-6">Title</th>
		<th>Date Added</th>
		<th class="col-sm-2">Syntax</th>
		<th class="col-sm-1">Views</th>
	</thead>
	<tbody>
		{% for snippet in snippets.items%}
		<tr>
			<td><a href="{{ url_for('show_snippet', snippet_uuid=snippet.get_uuid()) }}" >{{ snippet.title }}</a></td>
			<td>{{ snippet.date_added.strftime('%b %d, %Y') }}</td>
			<td>{{ snippet.language }}</td>
			<td>{{ snippet.hits }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<nav class="text-center">
	<ul class="pagination">
		{% if snippets.has_prev %}
		<li>
			<a href="{{ url_for('recent_snippets', page=snippets.prev_num) }}"><span aria-hidden="true">&laquo;</span></a>
		</li>
		{% else %}
		<li class="disabled">
			<span aria-hidden="true">&laquo;</span>
		</li>
		{% endif %}
		{% for page in snippets.iter_pages() %}
			{% if page %}
			<li>
				{% if page != snippets.page %}
					<a href="{{ url_for('recent_snippets', page=page) }}">{{ page }}</a>
				{% else %}
			<li class="active">
				<a href="">{{ page }}</a>
				{% endif %}
			{% else %}
			<li class="disabled">
				<span class=ellipsis>...</span>
			{% endif %}
			</li>
		{% endfor %}
		{% if snippets.has_next %}
		<li>
			<a href="{{ url_for('recent_snippets', page=snippets.next_num) }}"><span aria-hidden="true">&raquo;</span></a>
		</li>
		{% else %}
		<li class="disabled">
			<span aria-hidden="true">&raquo;</span>
		</li>
		{% endif %}
	</ul>
</nav>

{% endblock %}
