{% extends 'base.html' %}
{% import 'macros/items.html' as items  with context %}
{% block content %}
<table class="table table-striped">
	<thead>
		<th class="col-sm-6">Title</th>
		<th>Date Added</th>
		<th class="col-sm-2">Syntax</th>
		<th class="col-sm-1">Views</th>
	</thead>
	<tbody>
		{% for snippet in snippets.items%}
		<tr>
			<td><a href="{{ url_for('show_snippet', snippet_uuid=snippet.get_uuid()) }}" >{{ snippet.title }}</a></td>
			<td>{{ snippet.date_added.strftime('%b %d, %Y') }}</td>
			<td>{{ snippet.language }}</td>
			<td>{{ snippet.hits }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{{ items.paginate(snippets) }}
{% endblock %}
