{% extends 'base.html' %}
{% block content %}

	<div class="row">
		<div class="col-sm-12">
			<h3>{{ snippet.title }}</h3>
			
		</div>
		<div class="snippet-info col-sm-6">
			<small>Created by: 
				{% if snippet.user %}
					<a href="{{url_for('user_page', username=snippet.user) }}">{{ snippet.user }}</a> 
					{% else %}Anonymous{% endif %} | Views: {{ snippet.hits }} | Created on: {{ snippet.date_added.strftime('%b %d, %Y') }} | Syntax: {{ snippet.language.display_text }}</small>
		</div>
		<div class="snippet-options col-md-6 pull-right">
			<a href="r">Raw Text</a> | <a href="d">Download</a> |  <a href="/report/{{ snippet.id }}">Report</a> 
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-12">
			<textarea disabled class="snippet-textarea" id="snippet_readonly" rows=20>{{ snippet.body }}</textarea>
		</div>
		<div class="col-sm-8">
			<a href="/" class="new-snippet-btn btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Snippet</a>
			{% if current_user == snippet.user %}
			<a href="{{ url_for('delete_snippet', snippet_uuid=snippet.get_uuid()) }}" class="btn btn-danger">
				<span class="fa fa-trash"></span> Delete
			</a>
			{% endif %}
		</div>
		<div class="col-sm-4 options-container">
			<div class="input-group">
				<span class="input-group-addon">Share:</span>
				<input disabled class="form-control" type="text" value="http://snip.space/{{ snippet.get_uuid() }}" />
			</div>
		</div>
	</div>
	{% block scripts %}
	{% if snippet.language.id == 'htmlmixed' %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
	{% endif %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/{{ snippet.language.id }}/{{ snippet.language.id }}.min.js"></script>
	{% endblock %}
	<script>
	window.onload = function () {
  
	    var editableCodeMirror = CodeMirror.fromTextArea(document.getElementById('snippet_readonly'), {
			mode: "{{ snippet.language.id }}",
	        theme: "default",
	        lineNumbers: true,
	        readOnly: true
	    });
	    editableCodeMirror.setSize('100%', 400); 
	};
	</script>
{% endblock %}
