{% extends 'base.html' %}
{% block content %}

	<div class="row">
		<div class="col-sm-6">
			<h3>{{ snippet.title }}</h3>
		</div>
		<div class="snippet-options col-md-6 pull-right">
			<a href="r">Raw Text</a> | <a href="d">Download</a> |  <a href="/report/{{ snippet.id }}">Report</a> 
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-12">
			<textarea disabled id="snippet_readonly" rows=20>{{ snippet.body }}</textarea>
		</div>
		<div class="col-sm-8">
			<a href="/" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Snippet</a>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<span class="input-group-addon">Share:</span>
				<input disabled class="form-control" type="text" value="http://snip.space/{{ snippet.get_uuid() }}" />
			</div>
		</div>
	</div>
	{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/{{ snippet.language.id }}/{{ snippet.language.id }}.min.js"></script>
	{% endblock %}
	<script>
	window.onload = function () {
  
	    var editableCodeMirror = CodeMirror.fromTextArea(document.getElementById('snippet_readonly'), {
			mode: "{{ snippet.language.id }}",
	        theme: "default",
	        lineNumbers: true,
	        readOnly: true
	    });
	    editableCodeMirror.setSize('100%', 400); 
	};
	</script>
{% endblock %}
