{% extends 'base.html' %}
{% block content %}
<h3>Snippets by <em>{{ user.username }}</em></h3>
<table class="table table-striped">
	<thead>
		<th>Title</th>
		<th>Date Added</th>
		<th>Syntax</th>
		<th>Views</th>
	</thead>
	<tbody>
		{% for snippet in user.snippets %}
		<tr>
			<td><a href="{{ url_for('show_snippet', snippet_uuid=snippet.get_uuid()) }}">{{ snippet.title }}</a></td>
			<td>{{ snippet.date_added.strftime('%b %d, %Y') }}</td>
			<td>{{ snippet.language }}</td>
			<td>{{ snippet.hits }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
